.contenedor-progreso {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.texto-porcentaje {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  color: #1e3a8a; /* azul oscuro */
  font-size: 0.95rem;
  line-height: 28px;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.7);
}
