.ahorro-datos-fondo {
  min-height: 100vh;
  background: linear-gradient(160deg, #eef2ff 0%, #e0e7ff 50%, #c7d2fe 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-datos {
  font-weight: 800;
  color: #3730a3;
  font-size: 2.3rem;
}

.subtitulo-datos {
  color: #374151;
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto 40px;
}

/* Tarjetas */
.tarjeta-dato {
  background: rgb(192, 223, 235);
  border-radius: 50px;
  padding: 25px;
  text-align: left;
  height: 92%;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  overflow: hidden;
  position: relative;
}


.tarjeta-dato:hover {
  transform: scale(1.06); /* Aumenta el tamaño */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25); /* Sombra más marcada */
  cursor: pointer;
}

.tarjeta-dato h5 {
  font-weight: 700;
  margin-bottom: 0.5px;
}

.tarjeta-dato p {
  font-size: 0.95rem;
  color: #374151;
}

/* Colores */
.tarjeta-verde { border-top: 5px solid #10b981; }
.tarjeta-azul { border-top: 5px solid #3b82f6; }
.tarjeta-morado { border-top: 5px solid #8b5cf6; }
.tarjeta-amarillo { border-top: 5px solid #facc15; }
.tarjeta-celeste { border-top: 5px solid #06b6d4; }
.tarjeta-rosa { border-top: 5px solid #ec4899; }

/* Imágenes */
.imagen-dato {
  width: 100%;
  height: 75px;
  object-fit: contain;
  margin-bottom: 8px;
  border-radius: 70px;
}

/* Botón siguiente */
.boton-siguiente {
  border-radius: 30px;
  font-weight: 600;
  padding: 10px 25px;
}

/* Responsive */
@media (max-width: 992px) {
  .tarjeta-dato {
    text-align: center;
  }
}

.tarjeta-dato img {
  transition: transform 0.4s ease, box-shadow 0.18s ease;
}

.tarjeta-dato img:hover {
  transform: scale(3);
  cursor: pointer;
}

.tarjeta-dato img:active {
  transform: scale(1.12); /* Zoom más fuerte al hacer clic */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
